#japanese g2p
kabosu-core @ git+https://github.com/q9uri/kabosu-core@f66e09f5ac7c8f7fa47f2861396410746370f9bc
e2k
#korean g2p
num2words
g2pk2
jamo
mecab_ko
#chinese g2p
pypinyin
jieba
#english g2p
g2p_en
# onnxruntime
onnxruntime; (sys_platform != 'linux' or platform_machine != 'x86_64') and sys_platform != 'win32'
onnxruntime-directml; sys_platform == 'win32'
onnxruntime-gpu; sys_platform == 'linux' and platform_machine == 'x86_64'
numpy<2