#japanese g2p
kabosu-core[all] @ git+https://github.com/q9uri/kabosu-core@6a9a39a3befed556222d0c52cac4136b31edfcc1
e2k
#korean g2p
num2words
jamo
mecab_ko
#chinese g2p
pypinyin
jieba
#english g2p
g2p_en
# onnxruntime
onnxruntime; (sys_platform != 'linux' or platform_machine != 'x86_64') and sys_platform != 'win32'
onnxruntime-directml; sys_platform == 'win32'
onnxruntime-gpu; sys_platform == 'linux' and platform_machine == 'x86_64'
numpy<2